---There 're different types of issuer such as Corp, State(Province, City, such as Vienna, Osaka), StateBody(Fed Natl Mtg Asso), Supera(Asian Dev Bank),Sov 
---They belong to different Jurisdiction
--For Type COR, entity form could be LTD CORP etc.
-- there exist parent issuer, it could change, validFrom and Valid To, there should be link like PREV, Next to record the history and relation
--among them
---he Issue could be merged. this affects ToolSet, Universe etc. This is about Event(Merge, rename, Dissolved, Ceased, Acquired.)
--AlternativeNames comes the feed. Cannot see it's useful.
